* {
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
}

h1 {
    color: orange;
}

.main-title {
    color: white;
    background-color: #0cb167;
    text-align: center;
    padding: 50px;
}

h2 {
    color: rgb(0, 191, 255);
    background-color: black;
}

.ingredients {
    background-color: burlywood;
}

.steps li {
    font-weight: 800;
    font-family:"Courier New", "Courier", "monospace"
}

.recipes-list li {
    list-style-type: circle;
    margin: 15px;
}
